@media all
{
	.widget.news ul
	{
		display: flex;
	    flex-wrap: wrap;
		gap: 1%;
		list-style: none;
		padding-left: 0;
	}

		.widget.news li
		{
			background: #fff;
			box-shadow: 0 .5rem .75rem rgba(0, 0, 0, .15);

			flex: 0 1 auto;
		    width: 32.333333333333%;
			margin: 0 0 .6em;
			overflow: hidden;
			position: relative;
		}

			.widget.news ul:not(.text_columns) li + li
			{
				padding-top: .5em;
			}

			.widget.news li .image
			{
				background: rgba(0, 0, 0, .03);
				/*overflow: hidden;
				position: relative;*/
			}

				.widget.news li .image img
				{
					display: block;
					object-fit: cover;
					transition: all 1s ease;
					width: 100%;
				}

					.widget.news li:hover .image img
					{
						transform: scale(1.1);
					}

					.image_fallback
					{
						background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB2aWV3Qm94PScwIDAge3t3fX0ge3tofX0nPjxkZWZzPjxzeW1ib2wgaWQ9J2EnIHZpZXdCb3g9JzAgMCA5MCA2Nicgb3BhY2l0eT0nMC4zJz48cGF0aCBkPSdNODUgNXY1Nkg1VjVoODBtNS01SDB2NjZoOTBWMHonLz48Y2lyY2xlIGN4PScxOCcgY3k9JzIwJyByPSc2Jy8+PHBhdGggZD0nTTU2IDE0TDM3IDM5bC04LTYtMTcgMjNoNjd6Jy8+PC9zeW1ib2w+PC9kZWZzPjx1c2UgeGxpbms6aHJlZj0nI2EnIHdpZHRoPScyMCUnIHg9JzQwJScvPjwvc3ZnPg==');
						padding: 3em 0;
					}

			.widget.news .content
			{
				padding: 1em;
			}

				.widget.news .meta
				{
					font-size: .7em;
					margin: .5em 0;
				}

					.widget.news .date
					{
						color: #ccc;
						font-size: .9em;
					}

				.widget.news .content a
				{
					text-decoration: none;
				}
				
				.widget.news .content p
				{
					margin: 0;
				}

				.widget.news .content .wp-block-button
				{
					text-align: right;
				}

					.widget.news .content .wp-block-button__link
					{
						font-size: .9em;
						padding: .5em 1em;
					}
}